html {background-color: salmon;}

#box-model{
    width: 300px;
    height: 200px;
    background-color: white;
    padding: 60px;
    border-top: 60px solid red;
    border-top: 60px solid blue;
    border-top: 60px solid yellow;
    border-top: 60px solid green;
    margin: 60 px
}