
    *{  
    font-family: Arial,Helvetica, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    }

    h1 {background-color: lightseagreen;}
    #search-form {background-color: lightgreen;}
    nav {background-color: lightsalmon; }
   .hero {background-color: lightslategray;}
   .service-1 {background-color: darkgoldenrod;}
   .service-2 {background-color: darkmagenta;}
   .service-3 {background-color: darkturquoise;}
   article {background-color: blue;}
   #contact-form {background-color: yellowgreen;}
   footer {background-color: plum;}


body{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 
    32px
    64px
    300px
    120px
    120px
    200px
    260px
    32px;
    grid-template-areas: 
    "logo search"
    "navigation navigation"
    "hero hero"
    "service1 service1"
    "service2 service2"
    "service3 service3"
    "additional additional"
    "contact contact"
    "footer footer";
}

h1 {grid-area: logo;}
#search-form {grid-area: search;}
nav {grid-area: navigation;}
.hero {grid-area: hero;}
.service-1 {grid-area:service1;}
.service-2 {grid-area:service2;}
.service-3 {grid-area: service3;}
article {grid-area: additional;}
#contact-form {grid-area: contact;}
footer {grid-area: footer;}

@media screen and (min-width: 600px)
{
    body{
        grid-template-columns: 25% 25% 50%;
        grid-template-rows: 
        32px
        32px
        500px
        200px
        180px
        400px
        32px;
        grid-template-areas: 
        "logo search search"
        "navigation navigation navigation"
        "hero hero hero"
        "service1 service1 service2"
        "service3 service3 service3"
        "additional additional contact"
        "footer footer footer";
    }

}

@media screen and (min-width: 1024px)
{
    body{
        grid-template-columns: calc( 100% /6)
        calc( 100% /6)
        calc( 100% /6)
        calc( 100% /6)
        calc( 100% /6)
        calc( 100% /6);
        grid-template-rows: 
        32px
        800px
        200px
        500px
        32px;
        grid-template-areas: 
        "logo             navigation     navigation  navigation     navigation  search"
        
        "hero             hero              hero        hero        hero        hero"
        "service1           service1    service2        service2    service3    service3"
       
        "additional         additional additional        contact     contact    contact"
        "footer             footer      footer              footer      footer  footer";
    }
}
