@font-face{
    font-family: 'Cherry Monospace - Light';
    src: url('../fonts/cherry-monospace/Cherry\ Monospace-Light.ttf');
    src: 
    url('../fonts/cherry-monospace/Cherry\ Monospace-Light.ttf')
    format('truetype');
    font-weight: normal;
    font-style:normal;
    
}

@font-face{
    font-family: 'Rubik';
    src: url('../fonts/rubik/Rubik-Regular.ttf');
    src:url('../fonts/rubik/Rubik-Regular.ttf')
    format('truetype');
    font-weight : normal;
    font-style: normal;

}

@font-face{
    font-family: 'Rubik';
    src: url('../fonts/rubik/Rubik-BlackItalic.ttf');
    src:url('../fonts/rubik/Rubik-BlackItalic.ttf')
    format('truetype');
    font-weight : bolder;
    font-style: italic;
}

@font-face{
    font-family: 'Rubik';
    src: url('../fonts/rubik/Rubik-BoldItalic.ttf');
    src:url('../fonts/rubik/Rubik-BoldItalic.ttf')
    format('truetype');
    font-weight : bold;
    font-style: italic;
}

@font-face{
    font-family: 'Rubik';
    src: url('../fonts/rubik/Rubik-Light.ttf');
    src:url('../fonts/rubik/Rubik-Light.ttf')
    format('truetype');
    font-weight : lighter;
    font-style: normal;
}

@font-face{
    font-family: 'Rubik';
    src: url('../fonts/rubik/Rubik-LightItalic.ttf');
    src:url('../fonts/rubik/Rubik-LightItalic.ttf')
    format('truetype');
    font-weight : lighter;
    font-style: italic;
}



/* Text meant only for screen readers. 
    @link https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/
*/


.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }

  body{
      max-width: 600 px;
        padding: 16 px; 
      margin-right: auto;
      margin-left: auto;

  }


  /*
  * Navigation Links
  */
  h1{
      font-family: 'Cherry Monospace-Light','Courier New', Courier, monospace;
  }
  /* Any anchor anywhere inside of nav. */
  nav a{
      text-decoration: none; /*Gets rid of the underline! */
      color: rgb(0, 255, 0); /* There are few ways to handle color... name, RGB and hex are most common. HSL is also a option */
      font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
  }

  /* The "hover" state of any anchor (a) inside of a nav. (Pseudo-selector.) */

  nav a:hover
  {
      color: rgb(0,0,200);

      
  }

  /* nav a:hover
  {
      color: #dd0000;  Hex color. 
  }
  */

  

  /* "Direct descendant" - the UL must be directly inside the NAV. */
  nav > ul{
      list-style-type: square;
  }


  /* Rubik testing */

  .black-font{
      font-weight: bolder;
  }
  .black-font{
      font-weight: lighter;
  }

  h2, p{
      font-family: 'Rubik', Arial, Helvetica, sans-serif;
  }

  p:nth-of-type(3){

      font-family: 'Red Rose', cursive;
  }

  p:nth-of-type(3) img{
      display: block;
      width: auto;
      max-width: 85%;
      margin: 0 auto 1.5em; /* margin: top, right, bottom, left : 0, auto, 1.5em, auto */
    
    }

    @media screen and (min-width: 400px )
    {
        p:nth-of-type(3) img{
            max-width: 50%;
            float: right;
            margin-left: 32 px;
    }
}
